<% if(typeof errors != 'undefined') { %> 
  <script>sessionStorage.setItem('regformErrors', true);</script>
<% } %>

<% if(typeof loginErrors != 'undefined') { %> 
  <script>sessionStorage.setItem('loginErrors', true);</script>
<% } %>
  
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <div class="logo">
        <div class="brand-icon"><i class="fas fa-film"></i></div>
        <div>TRON</div>
      </div>
    </a>

    <!-- Burger Menu -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>				
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 mr-4">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">IN THEATERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/movies">MOVIES</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/movies/new">ADD MOVIE</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            TV SHOWS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <div id="search-container-nav">
        <form class="search-form" action="" method="get">
        <!-- <form class="search-form" action="/results" method="get"> -->
          <i class="fas fa-search fa-lg"></i>
          <input type="text" name="search" class="search-input" placeholder="Search movies...">
        </form>
      </div>

      <!-- <div class="menu ml-4"> -->
        <% if (!currentUser) { %>
          <li class="btn-box"><button id="auth-btn" class="btn-custom login-btn ml-4" data-toggle="modal" data-target="#auth-modal">LOGIN</button></li>
        <% } else { %>
          <ul class="navbar-nav menu mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">EN</a>
              <ul id="lang" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><img src="../../img/en.svg"> English</a></li>
                <li><a class="dropdown-item" href="#"><img src="../../img/es.svg"> Español</a></li>
                <li><a class="dropdown-item" href="#"><img src="../../img/ru.svg"> Русский</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown waves-effect waves-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-expanded="false">
                <i class="fas fa-envelope">
                  <span class="badge rounded-pill bg-danger">8</span>
                </i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Message</a>
                <a class="dropdown-item" href="#">Message</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Clear</a>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= // currentUser.username %>
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" id="avatar" class="rounded-circle z-depth-0"
                  alt="avatar image">
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/profile/<%= currentUser._id %>">Dashboard</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">LOGOUT</a></li>
              </ul>
            </li>
          </ul>
        <% } %>
      <!-- </div> -->

    </div>
  </div>
</nav>

<!-- Auth Modal -->
<div class="modal fade" id="auth-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog auth-modal">
    <div class="modal-content">

      <a href="javascript:void(0)" class="link-close" data-dismiss="modal" aria-label="Close">
        <svg width="3rem" height="3rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>

      <!-- Tab control -->
      <ul class="nav nav-tabs" id="authTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-tab-page" role="tab" aria-controls="login" aria-selected="true"></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="register-tab" data-toggle="tab" href="#register-tab-page" role="tab" aria-controls="register" aria-selected="false"></a>
        </li>
      </ul>

      <!-- Tab Contents -->
      <div class="tab-content" id="myTabContent">

        <!-- Login Tab -->
        <div class="tab-pane fade show active" id="login-tab-page" role="tabpanel" aria-labelledby="login-p">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Sign In</h3>
          </div>
          <div class="modal-body">

            <% if(typeof loginErrors != 'undefined' ) { %> 
              <div style="font-weight: 500; color: coral;">* Email and Password do not match</div>
            <% } %>

            <form id="login-form" class="auth-form form-login" action="/login" method="post" novalidate>
              <div class="form-group">
                <label for="login-email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="login-email" 
                  name="username" 
                  placeholder="Email" 
                  autocomplete="new-password" 
                  required 
                >
                <div class="small email-small"></div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="login-password" 
                    name="password" placeholder="Password" autocomplete="new-password" required>
                <div class="small"></div>
              </div>
              <div class="form-group login-button">
                <button type="submit" id="btn-login" class="btn-custom auth-btn">
                  SIGN IN
                  <span class="submit-loader"></span>
                </button>
              </div>
              <div class="form-group">
                <span class="pw-message"><a href="#">Forgot Password?</a></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <span class="pw-message mb-3">or login with </span>
            <a href="javascript:void(0)" class="btn btn-danger btn-lg btn-block">Google</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block">Facebook</a>
            <!-- <p class="pw-message mt-4">Don't have an account? <a href="#profile" data-toggle="tab">Create one</a></p>  -->
            <p class="pw-message mt-4">Don't have an account? <a href="javascript:void(0)" id="register-link">Create one</a></p> 
          </div>
        </div>

        <!-- Register Tab -->
        <div class="tab-pane fade" id="register-tab-page" role="tabpanel" aria-labelledby="register-tab">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Register</h3>
          </div>

          <div class="modal-body">
            <% if(typeof errors != 'undefined' ) { %> 
              <div class="form-errors">
                <div style="font-weight: 500;">CLIENTSIDE VALIDATION FAIL: </div>
                <span>Is JavaScript enabled?</span>
              </div>
            <% } %>

            <form id="reg-form" class="auth-form" action="/register" method="post" autocomplete="off" novalidate>

              <!-- Fighting browser's autocomplete & autofill -->
              <input type="hidden" name="step" value="1">
              <div style="display: none;">
                <input type="password" autocomplete="password" tabindex="-1">
              </div>


              <div class="form-group">
                <label for="reg-email" class="sr-only">Email</label>
                <input 
                  type="text" 
                  id="reg-email" 
                  class="form-control" 
                  name="username" 
                  placeholder="Email" 
                  value 
                  autocomplete="new-password" 
                  required
                >
                <div class="small email-small">
                  <% if(typeof errors != 'undefined') { %> 
                    <% errors.forEach((error) => { %>
                      <%= `* ${error.username}` %><br>
                    <% }) %>  
                  <% } %>
                </div>
              </div>

              <div class="form-group">
                <input 
                  type="password" 
                  id="reg-password" 
                  class="form-control" 
                  name="password" 
                  placeholder="Password" 
                  autocomplete="new-password"
                  required
                >
                <div class="toggle-hide">SHOW</div>
                <div class="pwmeter-container">
                  <div class="pwmeter">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="three"></span>
                  </div>
                  <div class="pwmessage-container">
                    <span id="passwordmessage" aria-live="polite"></span>
                  </div>
                </div>
                <div class="small password-small">
                  <% if(typeof errors != 'undefined') { %> 
                    <div class="form-errors">
                      <% errors.forEach((error) => { %>
                        <% if(error.password != undefined) { %> 
                          <%= `* ${error.password}` %><br>
                        <% } %>
                      <% }) %>
                    </div>
                  <% } %>
                </div>
              </div>

              <div class="form-group">
                <div class="g-recaptcha" data-callback="recaptchaCheck" data-expired-callback="recaptchaCheckExp" data-sitekey="<%= gCaptchaKey %>" data-theme="light"></div>
                <div class="small captcha-small">
                  Are you human?
                  <% if(typeof errors != 'undefined') { %> 
                    <% errors.forEach((error) => { %>
                      <%= `* ${error.captcha}` %><br>
                    <% }) %>  
                  <% } %>
                </div>
              </div>

              <div class="form-group login-button">
                <button type="submit" id="btn-register" class="btn-custom auth-btn">
                  REGISTER
                  <span class="submit-loader"></span>
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p class="pw-message mt-4"><a href="javascript:void(0)" id="login-link">Back to SIGN IN</a></p> 
          </div>

        </div>
      </div>
    </div>
  </div>
</div>