<% if(typeof errors != 'undefined') { %> 
  <script>sessionStorage.setItem('regformErrors', true);</script>
<% } %>

<% if(typeof loginErrors != 'undefined') { %> 
  <script>sessionStorage.setItem('loginErrors', true);</script>
<% } %>
  
<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark navbar-custom"> -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <div class="logo">
        <div class="brand-icon"><i class="fas fa-film"></i></div>
        <div>TRON</div>
      </div>
    </a>

    <!-- Burger Menu -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>				
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Site menu -->
      <ul id="site-menu" class="navbar-nav mb-2 mb-lg-0 mr-lg-4">

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            IN THEATERS
          </a>
          <ul id="theater-menu" class="dropdown-menu dropdown-menu-dark megamenu">
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
            In Theaters Now<br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima harum voluptate placeat illum, nostrum non totam soluta repellendus ipsa rerum, tempora sed hic.
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            MOVIES
          </a>
          <ul id="movie-menu" class="dropdown-menu dropdown-menu-dark sub-menu megamenu">
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
            <a href="/movies">MOVIES</a>



            <div class="container-fluid">
              <!-- <div class="row justify-content-start"> -->
                <div class="col-lg-10 offset-lg-1">
            
                  <div class="row justify-content-start section-movie">
                    <div class="col-lg-3 poster-col">
                      <div class="megamenu-items-title">Have you watched...</div>
                      <div class="movie-poster"></div>
                    </div>
                    <div class="col-lg-3 movie-data">
                      <div class="megamenu-items-title"></div>
                      <div class="megamenu-items-small">DRAMA | MYSTERY | SCI-FI | WESTERN</div>
                      <div class="megamenu-items-large">Red Chapter two</div>
                      <div>2020</div>
                      <div class="megamenu-items-rating">7 <i class="fas fa-star"></i></div>
                      <div class="megamenu-items-small">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repellat error iusto ipsam, atque sequi ducimus assumenda
                      </div>
                      <div class="megamenu-items-controls" style="display: flex;">
                        <div>
                          <button class="btn-custom"><i class="fas fa-play"></i> Play</button>
            
                          <!-- button.addEventListener('click', function() {
                            fetchMovie(id);
                          }); -->
            
                        </div>
                        <div>
                          <a href="">
                            <i class="fas fa-plus"></i>
                             Playlist
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 movie-genres">
                      <div class="megamenu-items-title">Genres</div>
                      <ul>
                        <a href="#"><li>genre 1</li></a>
                        <a href="#"><li>genre 2</li></a>
                        <a href="#"><li>genre 3</li></a>
                        <a href="#"><li>genre 4</li></a>
                        <a href="#"><li>genre 5</li></a>
                        <a href="#"><li>genre 6</li></a>
                        <a href="#"><li>genrsdfasdfasdfe 7</li></a>
                        <a href="#"><li>genre 8</li></a>
                        <a href="#"><li>genre 9</li></a>
                        <a href="#"><li>genre 10</li></a>
                        <a href="#"><li>genre 11</li></a>
                        <a href="#"><li>genre 12</li></a>
                        <a href="#"><li>genre 13</li></a>
                        <a href="#"><li>genre 14</li></a>
                        <a href="#"><li>genre 15</li></a>
                      </ul>
                    </div>
                  </div>
            
                </div>
              <!-- </div> -->
            </div>

            
            
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            TV SHOWS
          </a>
          <ul id="tv-menu" class="dropdown-menu dropdown-menu-dark megamenu">
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
            This is content of megamenu. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <ul id="search-container-nav" class="navbar-nav mb-2 mb-lg-0">
        <form class="search-form" action="" method="get">
        <!-- <form class="search-form" action="/results" method="get"> -->
          <i class="fas fa-search fa-lg"></i>
          <input type="text" name="search" class="search-input" placeholder="Search movies...">
        </form>
      </ul>

      <ul id="user-menu" class="navbar-nav mb-2 mb-lg-0 ml-lg-4">

        <!-- Theme toggler -->
        <li class="nav-item dropdown">
          <div class="nav-link theme-toggle-container">
            <input type="checkbox" name="" id="theme-checkbox" class="theme-checkbox">
            <label for="theme-checkbox" class="theme-checkbox-label">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
              <div class="theme-switch"></div>
            </label>
          </div>
        </li>

        <!-- Select language -->
        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown lang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            EN
          </a>
          <ul id="lang" class="dropdown-menu dropdown-menu-dark megamenu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><img src="../../img/en.svg"> English</a></li>
            <li><a class="dropdown-item" href="#"><img src="../../img/es.svg"> Español</a></li>
            <li><a class="dropdown-item" href="#"><img src="../../img/ru.svg"> Русский</a></li>
          </ul>
        </li>

        <% if (!currentUser) { %>
          <li class="nav-item btn-box">
            <button id="auth-btn" class="btn-custom login-btn" data-toggle="modal" data-target="#auth-modal">LOGIN</button>
          </li>
        <% } else { %>

          <li class="nav-item dropdown has-megamenu">
            <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell">
                <span class="badge rounded-pill bg-danger">8</span>
              </i>
            </a>
            <ul id="msg" class="dropdown-menu dropdown-menu-dark megamenu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Message</a>
              <a class="dropdown-item" href="#">Message</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Clear</a>
            </ul>
          </li>

          <li id="li-avatar" class="nav-item dropdown has-megamenu">
            <a class="nav-link dropdown nav-link-avatar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              <div class="avatar-container">
                <% if (currentUser.avatar) { %>
                  <div class="avatar" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg');"></div>
                <% } else { %>
                  <%= currentUser.username.substring(0, 1).toUpperCase() %> 
                <% } %>
              </div>
            </a>
            <ul id="profile" class="dropdown-menu dropdown-menu-dark megamenu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profile/<%= currentUser._id %>">Dashboard</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">LOGOUT</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- Auth Modal -->
<div class="modal fade" id="auth-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog auth-modal">
    <div class="modal-content">

      <a href="javascript:void(0)" class="link-close" data-dismiss="modal" aria-label="Close">
        <svg width="3rem" height="3rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>

      <!-- Tab control -->
      <ul class="nav nav-tabs" id="authTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-tab-page" role="tab" aria-controls="login" aria-selected="true"></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="register-tab" data-toggle="tab" href="#register-tab-page" role="tab" aria-controls="register" aria-selected="false"></a>
        </li>
      </ul>

      <!-- Tab Contents -->
      <div class="tab-content" id="myTabContent">

        <!-- Login Tab -->
        <div class="tab-pane fade show active" id="login-tab-page" role="tabpanel" aria-labelledby="login-p">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Sign In</h3>
          </div>
          <div class="modal-body">

            <% if(typeof loginErrors != 'undefined' ) { %> 
              <div style="font-weight: 500; color: coral;">* Email and Password do not match</div>
            <% } %>

            <form id="login-form" class="auth-form form-login" action="/login" method="post" novalidate>
              <div class="form-group">
                <label for="login-email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="login-email" 
                  name="username" 
                  placeholder="Email" 
                  autocomplete="new-password" 
                  required 
                >
                <div class="small email-small"></div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="login-password" 
                    name="password" placeholder="Password" autocomplete="new-password" required>
                <div class="small"></div>
              </div>
              <div class="form-group login-button">
                <button type="submit" id="btn-login" class="btn-custom auth-btn">
                  SIGN IN
                  <span class="submit-loader"></span>
                </button>
              </div>
              <div class="form-group">
                <span class="pw-message"><a href="#">Forgot Password?</a></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <span class="pw-message mb-3">or login with </span>
            <a href="javascript:void(0)" class="btn btn-danger btn-lg btn-block">Google</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block">Facebook</a>
            <!-- <p class="pw-message mt-4">Don't have an account? <a href="#profile" data-toggle="tab">Create one</a></p>  -->
            <p class="pw-message mt-4">Don't have an account? <a href="javascript:void(0)" id="register-link">Create one</a></p> 
          </div>
        </div>

        <!-- Register Tab -->
        <div class="tab-pane fade" id="register-tab-page" role="tabpanel" aria-labelledby="register-tab">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Register</h3>
          </div>

          <div class="modal-body">
            <% if(typeof errors != 'undefined' ) { %> 
              <div class="form-errors">
                <div style="font-weight: 500;">CLIENTSIDE VALIDATION FAIL: </div>
                <span>Is JavaScript enabled?</span>
              </div>
            <% } %>

            <form id="reg-form" class="auth-form" action="/register" method="post" autocomplete="off" novalidate>

              <!-- Fighting browser's autocomplete & autofill -->
              <input type="hidden" name="step" value="1">
              <div style="display: none;">
                <input type="password" autocomplete="password" tabindex="-1">
              </div>


              <div class="form-group">
                <label for="reg-email" class="sr-only">Email</label>
                <input 
                  type="text" 
                  id="reg-email" 
                  class="form-control" 
                  name="username" 
                  placeholder="Email" 
                  value 
                  autocomplete="new-password" 
                  required
                >
                <div class="small email-small">
                  <% if(typeof errors != 'undefined') { %> 
                    <% errors.forEach((error) => { %>
                      <%= `* ${error.username}` %><br>
                    <% }) %>  
                  <% } %>
                </div>
              </div>

              <div class="form-group">
                <input 
                  type="password" 
                  id="reg-password" 
                  class="form-control" 
                  name="password" 
                  placeholder="Password" 
                  autocomplete="new-password"
                  required
                >
                <div class="toggle-hide">SHOW</div>
                <div class="pwmeter-container">
                  <div class="pwmeter">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="three"></span>
                  </div>
                  <div class="pwmessage-container">
                    <span id="passwordmessage" aria-live="polite"></span>
                  </div>
                </div>
                <div class="small password-small">
                  <% if(typeof errors != 'undefined') { %> 
                    <div class="form-errors">
                      <% errors.forEach((error) => { %>
                        <% if(error.password != undefined) { %> 
                          <%= `* ${error.password}` %><br>
                        <% } %>
                      <% }) %>
                    </div>
                  <% } %>
                </div>
              </div>

              <div class="form-group">
                <div class="g-recaptcha" data-callback="recaptchaCheck" data-expired-callback="recaptchaCheckExp" data-sitekey="<%= gCaptchaKey %>" data-theme="light"></div>
                <div class="small captcha-small">
                  Are you human?
                  <% if(typeof errors != 'undefined') { %> 
                    <% errors.forEach((error) => { %>
                      <%= `* ${error.captcha}` %><br>
                    <% }) %>  
                  <% } %>
                </div>
              </div>

              <div class="form-group login-button">
                <button type="submit" id="btn-register" class="btn-custom auth-btn">
                  REGISTER
                  <span class="submit-loader"></span>
                </button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p class="pw-message mt-4"><a href="javascript:void(0)" id="login-link">Back to SIGN IN</a></p> 
          </div>

        </div>
      </div>
    </div>
  </div>
</div>