<%- include("../partials/header") %>

<header></header>
<section></section>

<h2>Movie List</h2>

<% movies.forEach(movie => { %>
  <h3><%= movie.title %> </h2>
    <span><%= movie.year %> | <%= movie.rated || "R" %></span><br>
    <span><%= movie.rating || "***ooo" %></span><span><%= movie.customerReviews || " 12" %> </span><br>
    <a href="/movies/<%= movie._id %>"><img src="<%= movie.poster %> " width="200"></a>
    <p><%- movie.description.substring(0, 100) %>...<br>
  <hr>
<% }) %>

<div class="box"></div>

<div class="container-fluid">
  <!-- <div class="row justify-content-start"> -->
    <div class="col-lg-10 offset-lg-1">

      <div class="row justify-content-start section-movie">
        <div class="col-lg-3 poster-col">
          <div class="megamenu-items-title">Have you watched...</div>
          <div class="movie-poster"></div>
        </div>
        <div class="col-lg-3 movie-data">
          <div class="megamenu-items-title"></div>
          <div class="megamenu-items-small">DRAMA | MYSTERY | SCI-FI | WESTERN</div>
          <div class="megamenu-items-large">Red Chapter two</div>
          <div>2020</div>
          <div class="megamenu-items-rating">7 <i class="fas fa-star"></i></div>
          <div class="megamenu-items-small">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repellat error iusto ipsam, atque sequi ducimus assumenda
          </div>
          <div class="megamenu-items-controls" style="display: flex;">
            <div>
              <button class="btn-custom"><i class="fas fa-play"></i> Play</button>

              <!-- button.addEventListener('click', function() {
                fetchMovie(id);
              }); -->

            </div>
            <div>
              <a href="">
                <i class="fas fa-plus"></i>
                 Playlist
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 movie-genres">
          <div class="megamenu-items-title">Genres</div>
          <ul>
            <a href="#"><li>genre 1</li></a>
            <a href="#"><li>genre 2</li></a>
            <a href="#"><li>genre 3</li></a>
            <a href="#"><li>genre 4</li></a>
            <a href="#"><li>genre 5</li></a>
            <a href="#"><li>genre 6</li></a>
            <a href="#"><li>genrsdfasdfasdfe 7</li></a>
            <a href="#"><li>genre 8</li></a>
            <a href="#"><li>genre 9</li></a>
            <a href="#"><li>genre 10</li></a>
            <a href="#"><li>genre 11</li></a>
            <a href="#"><li>genre 12</li></a>
            <a href="#"><li>genre 13</li></a>
            <a href="#"><li>genre 14</li></a>
            <a href="#"><li>genre 15</li></a>
          </ul>
        </div>
      </div>

    </div>
  <!-- </div> -->
</div>

<main></main>

<%- include("../partials/footer") %> 