<%- include('../partials/header') %>

<div class="container">
  <h2>Hi, <%= user.username[0].toUpperCase() + user.username.substring(1, user.username.indexOf('@')) %></h2>

  <p>
    <button class="btn-custom get-nav-geolocation">Accuracy<%= // locale.btn_get_location %> </button> 
    Click to allow accurate geolocation 
  </p>

  <div class="user-details">
    <span>Your details:</span>
    <span><a href="tel:<%= user.phone || null %> "><%= user.phone || null %></a></span><br>
    <span><a href = "mailto: <%= user.email || null %>">email: <%= user.email || null %></a></span>
  </div><br>

  <div id="map"><%= locale.map %></div>
  <p></p>
  <div class="backend-client-data">
    <div><strong>Client Serverside Info:</strong></div>
    <%= locale.ipaddress %>: <%= horde.ip %><br>
    <%= locale.proxy %>: <%= horde.proxy %><br>
    <%= locale.os %>: <%= horde.os.name %> <%= horde.os.version %> <%= horde.cpu.architecture %><br>
    <%= locale.browser %>: <%= horde.browser.name %> <%= horde.browser.major %><br>
    <%= locale.sessionip %>: <%= horde.sessionsip %><br>
  <p></p>
  <div class="client-data">
    <div><strong>Client Info:</strong></div>
    <%= locale.ipaddress %>: <span></span><br>
    <%= locale.lat %>: <span></span><br>
    <%= locale.lon %>: <span></span><br>
    <%= locale.city %>: <span></span><br>
    <%= locale.country %>: <span></span><br>
    <%= locale.timezone %>: <span></span><br>
  </div>
  <br>
  <div class="weather-data"></div><br>

  <% if(!movies.length) { %>
    <h3>No saved movies in Playlist</h3>
  <% } else { %>
    <h2>Your Movie Playlist</h2>
    <% movies.forEach(movie => { %>
      <div class="movie-box">
        <h3><%= movie.title %></h3>
        <p><em><%= movie.created.toDateString() %></em></p>
        <a href="/movies/<%= movie._id %> "><img src="<%= movie.poster %> " width="100"></a>
        <p><%- movie.description.substring(0, 100) %>... </p>
      </div>
      <hr>
    <% }) %>
  <% } %>

  <button class="btn-custom get-nav-geolocation" onclick="goBack()">Back<%= // locale.btn_back %> </button>

</div>

<%- include('../partials/footer') %>