<%- include('../partials/header') %> 

<h2>Hi, <%= user.username[0].toUpperCase() + user.username.substring(1, user.username.indexOf('@')) %></h2>

<span>Your details:</span><br>
<span><a href="tel:<%= user.phone || null %> "><%= user.phone || null %></a></span><br>
<span><a href = "mailto: <%= user.email || null %>">email: <%= user.email || null %></a></span><br>
<br>
<!-- goBack: function in JS to go back in browser history. function in main.min.js -->
<button onclick="goBack()">Back</button>

<% if(!movies.length) { %>
  <h3>No saved movies in Playlist</h3>
<% } else { %>
  <h2>Your Movie Playlist</h2>
  <% movies.forEach(movie => { %>
    <div class="movie-box">
      <h3><%= movie.title %></h3>
      <p><em><%= movie.created.toDateString() %></em></p>
      <a href="/movies/<%= movie._id %> "><img src="<%= movie.poster %> " width="100"></a>
      <p><%- movie.description.substring(0, 100) %>... </p>
    </div>
    <hr>
  <% }) %>
<% } %>

<div>
<% if (data) { %>
  <h3 class="weather">
    <%= data.name %> | 
    <%= data.main.temp %>&deg;C | 
    <img class="weather-icon" src="http://openweathermap.org/img/wn/<%= data.weather[0].icon %>@2x.png">
    <%= data.weather[0].description %>
  </h3>
<% } %>
</div>

<%- include('../partials/footer') %>